<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API Documentation | Panoptium</title>
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <link rel="stylesheet" th:href="@{/css/reports.css}">
    <link rel="stylesheet" href="/css/portfolio-dashboard.css">
    <link rel="stylesheet" href="/css/portfolio.css">
    <link rel="icon" type="image/png" href="/images/panoptium-icon.png">
</head>
<body>
<header>
    <div class="header-inner">
        <div class="logo">
            <a href="/">P</a>
        </div>

        <nav class="navigation-panel">
            <ul>
                <li><a class="market" href="/market">Market</a></li>
                <li><a class="btc" href="/bitcoin">Bitcoin</a></li>
                <li><a class="report" href="/reports">Reports</a></li>
                <li><a class="api-documentation" href="/api-doc">API Documentation</a></li>
            </ul>
        </nav>
        <div class="profile">
            <a th:href="@{/profile}"><img src="/images/profile.png" alt="profile-icon"></a>
        </div>
    </div>
</header>

<div class="wrapper">
    <div class="content-wrapper">
        <iframe src="http://localhost:8080/swagger-ui.html" width="100%" height="800px" style="border:none;"></iframe>
    </div>
</div>

<footer>&#169 2025 Panoptium Tech<br>All rights reserved</footer>

<script src="/js/profile.js" type="module"></script>
</body>
</html>