<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Market | Panoptium</title>
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <link rel="stylesheet" th:href="@{/css/market.css}">
</head>
<body>
    <header>
        <div class="header-inner">
            <div class="logo">
                <a th:href="@{/}">P</a>
            </div>

            <nav class="navigation-panel">
                <ul>
                    <li><a class="market" th:href="@{/market}">Market</a></li>
                    <li><a class="btc" th:href="@{/bitcoin}">Bitcoin</a></li>
                    <li><a class="sol" th:href="@{#}">Solana</a></li>
                </ul>
            </nav>


            <div class="profile">
                <img th:src="@{/images/profile.png}" alt="profile-icon">
            </div>
        </div>
    </header>

    <div class="wrapper">
        <div class="content-wrapper">
            <h2 id="stock-data">Stock Market Data</h2>
            <h2 id="crypto-data">Crypto Data</h2>
        </div>
    </div>

    <footer>
        <p>&#169 2025 Panoptium Tech<br>All rights NOT reserved</p>
    </footer>

<script th:type="module" th:src="@{/js/market.js}"></script>
</body>
</html>