<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Market | Panoptium</title>
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <link rel="stylesheet" th:href="@{/css/market.css}">
    <link rel="icon" type="image/png" href="/images/panoptium-icon.png">
</head>
<body>
    <header>
        <div class="header-inner">
            <div class="logo">
                <a href="/">P</a>
            </div>

            <nav class="navigation-panel">
                <ul>
                    <li><a class="market" href="/market">Market</a></li>
                    <li><a class="btc" href="/bitcoin">Bitcoin</a></li>
                    <li><a class="report" href="/reports">Reports</a></li>
                    <li><a class="api-documentation" href="/api-doc">API Documentation</a></li>
                </ul>
            </nav>
            <div class="profile">
                <a th:href="@{/profile}"><img src="/images/profile.png" alt="profile-icon"></a>
            </div>
        </div>
    </header>

    <div class="wrapper">
        <div class="content-wrapper">
            <h2 id="stock-data">Stock Market Data</h2>
            <h2 id="crypto-data">Crypto Data</h2>
        </div>
    </div>

    <footer>&#169 2025 Panoptium Tech<br>All rights reserved</footer>

<script type="module" src="/js/market.js"></script>
</body>
</html>