<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile | Panoptium</title>
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <link rel="stylesheet" href="/css/portfolio-dashboard.css">
    <link rel="stylesheet" href="/css/portfolio.css">
    <link rel="icon" type="image/png" href="/images/panoptium-icon.png">
</head>
<body>
<header>
    <div class="header-inner">
        <div class="logo">
            <a href="/">P</a>
        </div>

        <nav class="navigation-panel">
            <ul>
                <li><a class="market" href="/market">Market</a></li>
                <li><a class="btc" href="/bitcoin">Bitcoin</a></li>
                <li><a class="report" href="/reports">Reports</a></li>
                <li><a class="api-documentation" href="/api-doc">API Documentation</a></li>
            </ul>
        </nav>
        <div class="profile">
            <a th:href="@{/profile}"><img src="/images/profile.png" alt="profile-icon"></a>
        </div>
    </div>
</header>

<div class="wrapper">
    <div class="content-wrapper">
        <h1 id="main-header">Hi, <span class="username" th:text="${account.username}"></span></h1>
        
        <h2>Saved Wallets</h2>
        <table class="data-table" id="wallets-table">
            <thead>
            <tr>
                <th>Alias</th>
                <th>Network</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <button class="default-button" id="add-wallet-button">Add Wallet</button>

        <div id="modal-wallet" class="modal hidden">
            <div class="modal-content">
                <button id="close-wallet-button" class="action-button left">x</button>
                <form id="wallet-form" data-action="">
                    <fieldset>
                        <legend>Add Wallet</legend>

                        <label for="alias">Alias</label>
                        <input type="text" id="alias" name="alias" required>
                        <label for="address">Address</label>
                        <input type="text" id="address" name="address" required>
                        <label for="network">Network</label>
                        <select id="network" name="network" required>
                            <option th:each="network : ${networks}"
                                    th:value="${network}"
                                    th:text="${network}"></option>
                        </select>
                        <button type="submit">Submit</button>
                    </fieldset>
                </form>
            </div>
        </div>

        <h2>Portfolios</h2>
        <div id="portfolio-wrapper" class="portfolio-container"></div>

        <button class="default-button" id="add-portfolio-button">Create Portfolio</button>

        <div id="modal-portfolio" class="modal hidden">
            <div class="modal-content">
                <button id="close-portfolio-button" class="action-button left">x</button>
                <form id="portfolio-form" data-action="">
                    <fieldset>
                        <legend>Create Portfolio</legend>

                        <label for="portfolio-name">Name</label>
                        <input type="text" id="portfolio-name" name="portfolio-name" required>
                        <label for="portfolio-color">Color</label>
                        <input type="color" id="portfolio-color" name="portfolio-color" required>

                        <button type="submit">Submit</button>
                    </fieldset>
                </form>
            </div>
        </div>

        <h2>Assets</h2>

        <table id="assets-table" class="data-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <button class="default-button" id="add-asset-button">Add Asset</button>

        <div id="modal-asset" class="modal hidden">
            <div class="modal-content">
                <button id="close-asset-button" class="action-button left">x️</button>
                <form id="asset-form" data-action="">
                    <fieldset>
                        <legend>Add Asset</legend>

                        <label for="asset-name">Name</label>
                        <input type="text" id="asset-name" name="asset-name" required>

                        <label for="asset-type">Type</label>
                        <select id="asset-type" name="asset-type" required>
                            <option th:each="assetType : ${assetTypes}"
                                    th:value="${assetType}"
                                    th:text="${assetType}"></option>
                        </select>

                        <label for="asset-color">Color</label>
                        <input type="color" id="asset-color" name="asset-color" required>

                        <button type="submit">Submit</button>
                    </fieldset>
                </form>
            </div>
        </div>

        <div id="modal-portfolio-dashboard" class="modal hidden">
            <div class="modal-content">
                <div id="portfolio-dashboard" class="portfolio-dashboard">
                    <button id="close-portfolio-dashboard-button" class="action-button left">x️</button>

                    <div class="portfolio-data">
                        <p id="dashboard-portfolio-name"></p>
                        <p id="dashboard-portfolio-holdings"></p>
                    </div>

                    <button class="default-button" id="add-portfolio-asset-button">Add Asset</button>

                    <div id="modal-portfolio-asset-form" class="modal hidden">
                        <div class="modal-content">
                    <button id="close-portfolio-asset-form-button" class="action-button left">x️</button>
                    <form id="portfolio-asset-form" data-action="">
                        <fieldset>
                            <legend>Add Asset to Portfolio</legend>

                            <label for="portfolio-asset">Asset</label>
                            <select id="portfolio-asset" name="asset" required>
                                <option value="Not Selected">Not Selected</option>
                            </select>

                            <input type="hidden" id="portfolio-dashboard-name" name="portfolio-dashboard-name" required>

                            <label for="amount">Amount</label>
                            <input type="text" id="amount" name="amount" required>
                            <input type="hidden" id="amount-old" name="amount-old">

                            <label for="price-per-unit">Price Per Unit ($)</label>
                            <input type="text" id="price-per-unit" name="price-per-unit" required>
                            <input type="hidden" id="price-per-unit-old" name="price-per-unit-old">

                            <button type="submit">Submit</button>
                        </fieldset>
                    </form>
                        </div>
                    </div>

                    <table id="dashboard-assets-table" class = "data-table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Amount</th>
                            <th>Avg. Buy Price</th>
                            <th>Holdings</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="logout-button-container"><a href="/logout" class="logout-button">Logout</a></div>
    </div>
</div>

<footer>&#169 2025 Panoptium Tech<br>All rights reserved</footer>

<script src="/js/profile.js" type="module"></script>
</body>
</html>