<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reports | Panoptium</title>
  <link rel="stylesheet" th:href="@{/css/general.css}">
  <link rel="stylesheet" th:href="@{/css/reports.css}">
  <link rel="stylesheet" href="/css/portfolio-dashboard.css">
  <link rel="stylesheet" href="/css/portfolio.css">
  <link rel="icon" type="image/png" href="/images/panoptium-icon.png">
</head>
<body>
<header>
  <div class="header-inner">
    <div class="logo">
      <a href="/">P</a>
    </div>

    <nav class="navigation-panel">
      <ul>
        <li><a class="market" href="/market">Market</a></li>
        <li><a class="btc" href="/bitcoin">Bitcoin</a></li>
        <li><a class="report" href="/reports">Reports</a></li>
        <li><a class="api-documentation" href="/api-doc">API Documentation</a></li>
      </ul>
    </nav>
    <div class="profile">
      <a th:href="@{/profile}"><img src="/images/profile.png" alt="profile-icon"></a>
    </div>
  </div>
</header>

<div class="wrapper">
  <div class="content-wrapper">
    <div class="links-container">
      <a class="default-button" href="/app/reports/generate/FearAndGreedIndex">Fear And Greed Index</a>
      <a class="default-button" href="/app/reports/generate/CryptoData">Crypto Data</a>
      <a class="default-button" href="/app/reports/generate/Top100CryptoCurrencies">Top 100 Crypto Currencies</a>
      <a class="default-button" href="/app/reports/generate/StockMarket">Stock Market</a>
    </div>
  </div>
</div>

<footer>&#169 2025 Panoptium Tech<br>All rights reserved</footer>

<script src="/js/profile.js" type="module"></script>
</body>
</html>